<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }
  @media screen and (min-width: 992px) {
    header-drawer {
      display: none;
    }
  }
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">

  <symbol id="icon-search" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.74603 9.70457C7.82797 10.4182 6.67438 10.8432 5.42152 10.8432C2.4273 10.8432 0 8.41586 0 5.4216C0 2.42733 2.4273 0 5.42152 0C8.41575 0 10.843 2.42733 10.843 5.4216C10.843 6.67447 10.4181 7.82808 9.70443 8.74615L11.8015 10.8431C12.0662 11.1078 12.0662 11.5368 11.8015 11.8015C11.5369 12.0662 11.1078 12.0662 10.8431 11.8015L8.74603 9.70457ZM9.48767 5.4216C9.48767 7.6673 7.66719 9.4878 5.42152 9.4878C3.17586 9.4878 1.35538 7.6673 1.35538 5.4216C1.35538 3.1759 3.17586 1.3554 5.42152 1.3554C7.66719 1.3554 9.48767 3.1759 9.48767 5.4216Z" fill="#06623B"/>
</symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

<div class="headtop d-lg-block d-none" style="background: {{ section.settings.bg_color }};">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-12 text-left">
        <ul class="list-unstyled">
          <li>{% render 'icon-offer' %}</li>
          {% if section.settings.offerhead != blank %}
            <li>{{ section.settings.offerhead }}</li> 
          {% endif %}
          {% if section.settings.btnlink != blank %}
              <a href="{{ section.settings.btnlink }}" class="hlink">{{ section.settings.btn }}</a>
          {% endif %}   
        </ul>
      </div>
      <div class="col-sm-5 col-12 text-right wish-cur">
        <ul class="list-unstyled hwcur">
            <li>
            {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                  <noscript>
                    {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                        <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                          {%- for country in localization.available_countries -%}
                            <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                              {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                    {%- endform -%}
                  </noscript>
                  <localization-form>
                    {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                      <div class="no-js-hidden">
                        <div class="disclosure">
                          <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                            {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                            {% render 'icon-caret' %}
                          </button>
                          <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled dropdown-menu-right" hidden>
                            {%- for country in localization.available_countries -%}
                              <li class="disclosure__item" tabindex="-1">
                                <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                  {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}

                {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                  <noscript>
                    {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                        <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                          {%- for language in localization.available_languages -%}
                            <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                              {{ language.endonym_name | capitalize }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                    {%- endform -%}
                  </noscript>

                  <localization-form>
                    {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                      <div class="no-js-hidden">
                        <div class="disclosure">
                          <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                            {{ localization.language.endonym_name | capitalize }}
                            {% render 'icon-caret' %}
                          </button>
                          <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled dropdown-menu-right" hidden>
                            {%- for language in localization.available_languages -%}
                              <li class="disclosure__item" tabindex="-1">
                                <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                                  {{ language.endonym_name | capitalize }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper"> 
<div class="header-top-announcement" style="background: {{ section.settings.bg_color }}; color: {{ section.settings.topbg }}; padding: 10px 0; text-align: center; font-size: 14px; font-weight: 500;">
  <div class="container">
    {{ section.settings.offerhead }}
  </div>
</div>

<header class="header-main" style="background: {{ section.settings.topbg }}; border-bottom: 1px solid #eee;">
  <div class="container-fluid" style="padding: 15px 40px;">
    <div class="row align-items-center">
      
      <!-- MOBILE TOGGLE & LOGO -->
      <div class="col-lg-2 col-md-4 col-6 headlogo d-flex align-items-center">
        <button class="navbar-toggler d-lg-none" type="button" style="border: none; background: transparent; padding: 0; margin-right: 15px;">
          {% render 'icon-hamburger' %}
        </button>
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 class="header__heading-logo"
                 width="{{ section.settings.logo_width }}"
                 alt="{{ section.settings.logo.alt | default: shop.name }}">
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>

      <!-- CENTER MENU -->
      <div class="col-lg-7 d-none d-lg-block text-center">
        <nav class="header__inline-menu">
          <ul class="list-unstyled d-flex justify-content-center mb-0 header-links">
            {%- for link in linklists.main-menu.links -%}
              <li style="margin: 0 15px;">
                <a href="{{ link.url }}" class="link link--text" style="text-transform: uppercase; font-weight: 600; font-size: 13px; color: #06623B; letter-spacing: 1px;">
                  {{ link.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      </div>

      <!-- RIGHT ICONS -->
      <div class="col-lg-3 col-md-8 col-6 text-right">
        <div class="header-icons-right d-flex align-items-center justify-content-end">
          <a href="{{ routes.search_url }}" class="header-icon" style="margin-right: 25px; display: inline-block;">
            <svg class="icon icon-search" style="width: 22px; height: 22px; fill: #06623B;"><use href="#icon-search"></use></svg>
          </a>
          <a href="{%- if customer -%}/account{%- else -%}/account/login{%- endif -%}" class="header-icon" style="margin-right: 25px; display: inline-block; color: #06623B;">
            {% render 'icon-account' %}
          </a>
          <div class="dropdown cart-dropdown" style="display: inline-block;">
            <a href="{{ routes.cart_url }}" class="header-icon position-relative" style="color: #06623B;">
              {% render 'icon-hcart' %}
              <span id="Cartcount" style="position: absolute; top: -10px; right: -12px; background: #a8c73a; color: #fff; border-radius: 50%; width: 20px; height: 20px; font-size: 11px; display: flex; align-items: center; justify-content: center; font-weight: 700;">
                {{ cart.item_count }}
              </span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>


{%- render 'cart-notification' -%}

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);



  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
        "type": "color",
        "id": "topbg",
        "default": "#fff",
        "label": "Header Bg Color"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
        "type": "header",
        "content": "Header Contact Details"
    },
    {
        "type": "color",
        "id": "bg_color",
        "default": "#f5f5f5",
        "label": "Background Color"
    },
    {
        "type": "color",
        "id": "cart_bg",
        "default": "#A8C73A",
        "label": "Cart Background Color"
    },
    {
        "type": "text",
        "id": "offerhead",
        "label": "offer",
        "default": "Get 30% Off On Selected Items"
    },
        
    {
      "type": "text",
      "id": "btn",
      "label": "Button",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "btnlink",
      "label": "Link URL"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "text",
      "id": "support_no",
      "label": "Contact Number",
      "default": "610-403-403"
    },
    {
      "type": "header",
      "content": "Megamenu"
    },
    {
      "type": "checkbox",
      "id": "megamenu_toggle",
      "label": "Show megamenu"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]  
}
{% endschema %}
